<div>
  <mat-toolbar color="primary">
    <span>Revolut Exchange Rates
      <button (click)="loadRates()" mat-icon-button color="secondary">
        <mat-icon>refresh</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <mat-progress-bar *ngIf='loading' mode="indeterminate"></mat-progress-bar>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add exchange rate
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="form-container">
        <mat-form-field>
          <input matInput type="number" placeholder="Ammount" [(ngModel)]="newExchange.ammount">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="From" [(value)]="newExchange.from">
            <mat-option *ngFor="let currency of filter(currencies, newExchange.to)" [value]="currency">
              {{ currency }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="To" [(value)]="newExchange.to">
            <mat-option *ngFor="let currency of filter(currencies, newExchange.from)" [value]="currency">
              {{ currency }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
          <button (click)="add()" mat-icon-button color="primary">
            <mat-icon>add</mat-icon>
          </button>
          <button (click)="clear()" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
     </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-table #table [dataSource]="dataSource" *ngIf="dataSource && dataSource.data.length > 0">

    <ng-container matColumnDef="from">
      <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="to">
      <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ammount">
      <mat-header-cell *matHeaderCellDef> Ammount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ammount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="result">
      <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.result}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>
